
body {
    background-color: #b2b2b2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.slider_container {
    max-width: 70vw;
    position: relative;
    overflow: hidden;
    border: 15px solid #fbefdf;
    background-color: #fbefdf;
}

.navigation {
    width: 23%;
    position: absolute;
    top: 92%;
    left: 88.1%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

label {
    width: 20vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.dot {
    display: block;
    width: 2.5rem;
    height: .8rem;
    background-color: #8d6852;
    opacity: 50%;
    border-radius: 20%;
    cursor: pointer;
}

.dot:hover,
label:hover {
    transition: ease-in-out 0.3s;
    opacity: 90%;
    transform: scale(1.1);
}

input {
    position: absolute;
    visibility: hidden;
}

.slider {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
}

#rad1:checked ~ .s1 {
    margin-left: 0;
}

#rad2:checked ~ .s1 {
    margin-left: -25%;
}

#rad3:checked ~ .s1 {
    margin-left: -50%;
}

#rad4:checked ~ .s1 {
    margin-left: -75%;
}

#rad1:checked ~ .navigation .dot1 .dot,
#rad2:checked ~ .navigation .dot2 .dot,
#rad3:checked ~ .navigation .dot3 .dot,
#rad4:checked ~ .navigation .dot4 .dot 
{    
    background-color: #462e25;
    opacity: 100%;
    width: 2.5em;;
    height: .8rem;
    border-radius: 20%;
}

.description {
    color: #27282d;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: .05em;
    display: block;
    padding-top: .4em;
}

@media  screen and (max-width: 400px) {
    .slider_container {
        max-width: 95vw;
    }

    .description {
        margin-top: 7%;
        font-size: .8em;
    }

    .navigation {
        top: 79%;
        width: 45%;
        left: 50%;
        transform: translateX(-50%);
    }

    label {
        height: 2rem;
    }

    .dot {
        width: 1.5rem;
        height: .4rem;
    }

    #rad1:checked ~ .navigation .dot1 .dot,
    #rad2:checked ~ .navigation .dot2 .dot,
    #rad3:checked ~ .navigation .dot3 .dot,
    #rad4:checked ~ .navigation .dot4 .dot 
    {    
        width: 1.5rem;
        height: .4rem;
    }

    .dot:hover,
    label:hover {
    transform: scale(1.1);
}

}